node_modules
.vscode
vis/__pycache__
vis/neural_mesh
vis/octants
vis/adjacencyMap.json
vis/data.json
vis/test.py
vis/progress.txt
vis/visualise.py_old
trace32.exe
scratch
progress.txt
adjacencyMap.json
kdTree.js
kdtreeTest.js
nMesh.json_old
pineconeTest.js
cudaTest.js
.env
